---
import { Icon } from 'astro-icon/components'
---

<footer class='mx-auto mt-24 w-full'>
	<div class='border-t border-border pt-5'>
		<div
			class='flex flex-col items-center gap-y-3 sm:flex sm:flex-row sm:items-center sm:justify-between sm:gap-y-0'
		>
			<div class='flex gap-x-4 text-sm'>
				<!-- <a
          class='inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
          href='/terms'>Terms</a
        >

        <a
          class='inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
          href='/privacy'>Privacy</a
        > -->
				<p class=''>© 2024 MKRA.</p>
			</div>

			<div class='flex items-center justify-between'>
				<!-- Social Brands -->
				<div class='flex items-center gap-x-4'>
					<!-- Linkedin -->
					<a
						class='inline-block text-muted-foreground transition-all hover:text-muted-foreground/75'
						href='https://www.linkedin.com/in/markasena/'
					>
						<Icon name='linkedin' class='grayscale' width={16} height={16} />
					</a>
					<a
						class='inline-block text-muted-foreground transition-all hover:text-muted-foreground/75'
						href='https://github.com/directormac'
					>
						<Icon name='github' width={16} height={16} />
					</a>
					<a
						class='inline-block text-muted-foreground transition-all hover:text-muted-foreground/75'
						href='mailto:markasena@gmail.com'
					>
						<Icon name='gmail' class='grayscale' width={16} height={16} />
					</a>
					<a
						class='inline-block text-muted-foreground transition-all hover:text-muted-foreground/75'
						href='mailto:mac@mkra.dev'
					>
						<Icon name='email' class='grayscale' width={16} height={16} />
					</a>
				</div>
				<!-- End Social Brands -->
			</div>
		</div>
	</div>
</footer>
