---
export const prerender = true

import PageLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.svelte'
---

<PageLayout meta={{ title: 'Mark Asena' }}>
	<div class='h-full'>
		<Hero client:load />
	</div>
</PageLayout>
