---
export const prerender = true

import PageLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.svelte'
import { Image } from 'astro:assets'
import src from '@/assets/coming-soon.png'
---

<PageLayout meta={{ title: 'Mark Asena' }}>
	<div class='h-full'>
		<Hero client:load>
			<Image src={src} alt='Mark Asena' />
		</Hero>
	</div>
</PageLayout>
